<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBKreEg1bZXFa2Gk54uM8R6OiKI_s7-Aww</string>
	<key>GCM_SENDER_ID</key>
	<string>338431764486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aviatorDelivery.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>aviator-delivery</string>
	<key>STORAGE_BUCKET</key>
	<string>aviator-delivery.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338431764486:ios:4be9b4d0f243e377fdbb87</string>
	<key>DATABASE_URL</key>
	<string>https://aviator-delivery-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>